<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页</title>
    <script type="text/javascript" src="/static/js/jquery.js">
    </script>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/bootstrap/css/signin.css">
</head>
<body>
    <form  method='post' action={% url 'blog.login' %}>
        {% csrf_token %}
        <label>用户名</label><input type="text" name="user"/>
        <label>密码</label><input type="password" name="pwd"/>
        <input type="submit" value="提交" />
    </form>
</body>
</html>